Node-red/flows.json
[{"id":"dc1e56d9.e3cea8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1c1b2abf.da4175","type":"ibmiot in","z":"dc1e56d9.e3cea8","authentication":"apiKey","apiKey":"85909225.70b9a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"22072002","applicationId":"","deviceType":"HarishDevice","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":60,"y":80,"wires":[["cc020b7c.994658"]]},{"id":"cc020b7c.994658","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":80,"wires":[["1f927b5f.05ce75","208c3b3b.29c614"]]},{"id":"208c3b3b.29c614","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"msg.payload={\n    'name':global.get('name'),\n    'lat':global.get('latitude'),\n    'lon':global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[["b8264b40.002978","43875a67.df7d84"]]},{"id":"6669622d.842a7c","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"msg.payload-msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":380,"wires":[["9d734a4b.85ae98"]]},{"id":"9d734a4b.85ae98","type":"rbe","z":"dc1e56d9.e3cea8","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":330,"y":380,"wires":[["8da3e4f.b341d18"]]},{"id":"8da3e4f.b341d18","type":"switch","z":"dc1e56d9.e3cea8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":500,"wires":[["bf71dea5.3f15d","465ef837.2b3768"],["eaf6469d.936918"]]},{"id":"bf71dea5.3f15d","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"msg.payload = \"person is not in the area\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":460,"wires":[["a2012d74.d1dfd","fc763ddd.1e325","7fbc1ea0.82828"]]},{"id":"465ef837.2b3768","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; \n\nnewDate = new Date(utc +(3600000*offset));\n\nmsg.payload ={\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["ae6e43a7.63361","7b0dbd57.90a004"]]},{"id":"eaf6469d.936918","type":"function","z":"dc1e56d9.e3cea8","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5; \n\nnewDate = new Date(utc +(3600000*offset));\n\nmsg.payload ={\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":580,"wires":[["ae6e43a7.63361"]]},{"id":"1f927b5f.05ce75","type":"debug","z":"dc1e56d9.e3cea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":80,"wires":[]},{"id":"7fbc1ea0.82828","type":"debug","z":"dc1e56d9.e3cea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":280,"wires":[]},{"id":"fc763ddd.1e325","type":"http request","z":"dc1e56d9.e3cea8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":" https://www.fast2sms.com/dev/bulkV2?authorization=ZB1p3VEmDfXIxwakH4ojnuR0rPL7S2sAevYMCtzUq85JlybTg9Duy9kst7oGmbegnaczpFTQhqNO65Rw&route=q&message=Hello%20Its%20your%20Kid%20status%20...!%20&language=english&flash=0&numbers=9025206599","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":400,"wires":[["7fbc1ea0.82828"]]},{"id":"a2012d74.d1dfd","type":"ui_toast","z":"dc1e56d9.e3cea8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":620,"y":480,"wires":[[]]},{"id":"ae6e43a7.63361","type":"debug","z":"dc1e56d9.e3cea8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":620,"wires":[]},{"id":"b8264b40.002978","type":"ui_worldmap","z":"dc1e56d9.e3cea8","group":"a7a491ba.78aa5","order":0,"width":0,"height":0,"name":"","lat":"17.4226372","lon":"78.5456505","zoom":"16","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":600,"y":180,"wires":[]},{"id":"7b0dbd57.90a004","type":"cloudant out","z":"dc1e56d9.e3cea8","name":"","cloudant":"","database":"child_tracking","service":"node-red-lfcsu-2021--cloudant-1626416739190-72493","payonly":false,"operation":"insert","x":620,"y":540,"wires":[]},{"id":"43875a67.df7d84","type":"geofence","z":"dc1e56d9.e3cea8","name":"","mode":"circle","inside":"true","rad":45.21276278472988,"points":[],"centre":{"latitude":11.000501747496735,"longitude":76.96426570415497},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":330,"y":300,"wires":[["6669622d.842a7c"]]},{"id":"85909225.70b9a","type":"ibmiot","name":"API IOT Harish ","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a7a491ba.78aa5","type":"ui_group","name":"Map","tab":"5b3b48e4.441248","order":4,"disp":true,"width":"6","collapse":false},{"id":"5b3b48e4.441248","type":"ui_tab","name":"Child Tracker","icon":"dashboard","disabled":false,"hidden":false}]